<mat-toolbar class="header">
  <h4>
    {{ 'main.page.section.languages.title' | translate }}
  </h4>
</mat-toolbar>
<div class="p-16">
  <p class="text-center">
    {{ 'main.page.section.languages.subtitle' | translate }}
  </p>
  <div class="grid p-16">
    <app-game-card 
      *ngFor="let data of cards; let idx=index" 
      [data]="data" 
      (cardClicked)="cardClicked(idx)"
      >
    </app-game-card>
  </div>
</div>

<div class="button-container">
  <div 
    class="button button-small" 
    (click)="changeLanguage('en')"
    >
    <span>
      {{ 'main.page.section.languages.english' | translate }}
    </span>
  </div>
  <div 
    class="button button-small" 
    (click)="changeLanguage('ru')"
    >
    <span>
      {{ 'main.page.section.languages.russian' | translate }}
    </span>
  </div>
  <div 
    class="button button-small" 
    (click)="changeLanguage('sp')"
    >
    <span>
      {{ 'main.page.section.languages.spanish' | translate }}
    </span>
  </div>
</div>
