<h2 mat-dialog-title>
    {{ 'main.page.section.languages.dialog-title' | translate }}
</h2>
<mat-dialog-content class="mat-typography">
    {{ 'main.page.section.languages.dialog-content' | translate }}
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button 
        mat-raised-button 
        color="primary" 
        [mat-dialog-close]="true" 
        cdkFocusInitial
        >
        {{ 'main.page.section.languages.dialog-actions' | translate }}
    </button>
</mat-dialog-actions>
